<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/me.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <title>User info</title>
</head>
<body>

<div class="fone">
    <div class="entry">
        <p>Login</p>
        <label for="email">Email:</label> <br>
        <input type="email" id="email" name="email" placeholder="vasya@gmail.com">
        <br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" placeholder="qwerty123">
        <br>
        <br>
        <button onclick="getMeInfo()">Login</button>

        <div class="if-not">
            <p>if you not login</p><a href="http://localhost:5000/register">Register</a>
        </div>
    </div>

    <br>

    <h1 id="full_name"></h1>
    <h3 id="email"></h3>

</div>

<script>

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function getMeInfo() {
        // get access token cookie
        let accessToken = getCookie('access_token');
        fetch('/api/user/me', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' + accessToken
            }
        }).then((response) => {
            return response.json();
        })
        .then((data) => {
            if (data.code === 0)
            {
                document.getElementById('full_name').textContent = "Hello " + data.user.full_name;
                document.getElementById('email').textContent = data.user.email;
            }
            else
            {
                alert(data.message);
            }
        });
    }

</script>

</body>
</html>